<div class="row">
    <form action="" method="POST"> 
        {% csrf_token %} 
        <div class="small-12 medium-6 large-6 columns">
            <div class="panel">
                <h2 class="">Crie uma conta aqui</h2>

                <label for="">Digite seu username: </label>
                {{form.username}} 

                <label for="">Digite sua senha:</label>
                {{form.password1}}

                <label for="">Digite sua senha novamente: </label>
                {{form.password2}}


                <input type="submit" value="Criar conta" class="button radius">            
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </div>
    </form>

  <div class="small-12 medium-6 large-5 columns"> 
        <div class="panel">
            <header>
                <h2>Principais duvidas</h2>
            </header>
            <ul>
                <li><a href="">duvida1</a></li>
                <li><a href="">duvida2</a></li>
                <li><a href="">duvida3</a></li>
                <li><a href="">duvida4</a></li>
                <li><a href="">duvida5</a></li>
            </ul> 
        </div>
    </div>
</div>
