<div class="row left">
    <div class="small-12 medium-6 large-5 columns">
        <div class="panel">
            <form method="post" action="">
                {% csrf_token %}

                <div class="row">
                    <div class="small-12 medium-12 large-12 columns">
                        {{form}}
                    </div>
                    <div class="small-12 medium-10 large-6 large-centered columns">
                        <input type="submit" class="button radius" name="Entrar" value="Entrar">
                        <input type="hidden" name="next" value="{{ next }}" />

                        <a href="{%url 'cadastro'%}" class="text-center">Cadastre uma conta </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
  
</div> 

