main{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}


.data{
    font-size: 0.7em;
}
#titulo{
    color:#1c1c1d;
    font-size: 4em;
}
.artigo p{
    margin: 2em 1em;
    font-size: 1.4em;
    color:#1c1c1d;
}
