<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width">
            <title></title>
            <link rel="stylesheet" href="/static/css/foundation.min.css" type="text/css" media="all" />
            <link rel="stylesheet" href="/static/css/normalize.css" type="text/css" media="all" />
            <script src="/static/js/vendor/custom.modernizr.js"></script>
            <link rel="stylesheet" href="/static/css/master.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </script src "/vendor/jquery.js"></script>
    <script src="/static/js/vendor/fastclick.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/foundation/foundation.tab.js"></script>

    <script>
        $(document).foundation('tab', 'reflow');
    </script>

    <script type="text/javascript" src="http://cidades-estados-js.googlecode.com/files/cidades-estados-v0.2.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            new dgCidadesEstados(
                document.getElementById('estado'),
                document.getElementById('cidade'),
                true
             );
         }
    </script>

    </body>
</html>
