{% block content %}


<form method="post">
    {% csrf_token%}
    <div class="row">
        <div class="small-12 medium-12 large-12 columns">
            <label for="{{form_evento.nome.label}}"> Nome do evento:</label>
            {{form_evento.nome}}
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <label for="{{form_evento.estado.label}}">Estado:</label>
            {{form_evento.estado}}
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <label for="{{form_evento.cidade.label}}">Cidade:</label>
            {{form_evento.cidade}}
        </div>
        <div class="small-12 medium-6 large-6 columns">
            <label for="{{form_evento.data.label}}">Data:</label>
            {{form_evento.data}}
        </div>

        <div class="small-12 medium-6 large-6 columns"> 
            <label for="{{form_evento.hora.label}}">Hora:</label>
            {{form_evento.hora}}
        </div>

        <div class="small-12 medium-12 large-12 columns">
            <label for="{{form_evento.url.label}}">Url:</label>
            {{form_evento.url}}
        </div>
    </div>

        <input type="submit" class="botao" value="Criar Evento" >
</form>
{% endblock%}
