<div class="row">
    <div class="panel">
        <div class="small-9 small-centered columns">
            <div class="icon-bar five-up" role="navigation">
                <a class="item" aria-labelledby="#itemlabel1" id="menu-home">
                    <img src="/static/img/home.svg">
                </a>
                <a class="item" aria-labelledby="#itemlabel2" id="menu-eventos">
                    <img src="/static/img/evento.svg">
                </a>
                <a class="item" aria-labelledby="#itemlabel3" id="menu-texto">
                    <img src="/static/img/noticia.svg">
                </a>
                <a class="item" aria-labelledby="#itemlabel4" id="menu-fotos">
                    <img src="/static/img/foto.svg">
                </a>
                <a class="item" aria-labelledby="#itemlabel5" id="menu-camera">
                    <img src="/static/img/video.svg" >
                </a>
            </div>
        </div>
    </div>
