<div class="row">
    <div class="panel">
        <div class="row">
            <div class="large-5 large-centered  columns ">
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#panel1"><img src="/static/img/evento.svg"></a></dd>
                    <dd><a href="#panel2"><img src="/static/img/noticia.svg"></a></dd>
                    <dd><a href="#panel3"><img src="/static/img/foto.svg"></a></dd>
                    <dd><a href="#panel4"><img src="/static/img/video.svg"></a></dd>
                </dl>
            </div>
        </div>

        <div class="tabs-content">
            <div class="content active" id="panel1">
                <form id="criar-evento">
                    <div class="row">

                        <div class="small-12 medium-6  columns">
                            <label>Estado</label>
                            <select id="estado" name="estado"></select>
                        </div>

                        <div class="small-12 medium-6 end columns">
                            <label>Cidade</label>
                            <select id="cidade" name="cidade"></select>
                        </div>
                    </div>

                    <div class="row center">
                        <div class="small-12  medium-6 large-4  columns">
                            <label for="">Data</label>
                            <input type="date" name="name" value="">
                        </div>

                        <div class="small-12 medium-6 large-4 end columns">
                            <label for="">Hora</label>
                            <input type="time" name="name" value="">
                        </div>
                    </div>

                    <div class="row collapse">
                        <div class="small-2 medium-1 columns">
                            <span class="prefix">http://</span>
                        </div>

                        <div class="small-10 medium-6 end columns">
                            <input type="text" placeholder="Entre o URL...">
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-2 small-centered columns">
                            <input class="button "type="button" name="name" value="Criar Evento">
                        </div>
                    </div>
                </form>
            </div>

            <div class="content" id="panel2">
                <form id="criar-texto">
                    <div class="row">
                        <div class="small-4 columns">
                            <label for="">Titulo</label>
                            <input type="text" name="name" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-12 columns">
                            <textarea name="name" rows="8" cols="40"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-2 small-centered columns">
                            <input type="button" name="name" value="Enviar" class="button">
                        </div>
                    </div>
                </form>
            </div>
            <div class="content" id="panel3">
                <form id="criar-album">
                    <div class="row">
                        <form>
                            <label for="">Insira suas imagens</label>
                            <input type="file" class="custom-file-input">
                        </form>
                    </div>
                </form>
            </div>

            <div class="content" id="panel4">
                <form id="criar-video">
                    <div class="row">
                        <label for="">Insira suas seu video</label>
                        <input type="file" class="custom-file-input">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
